<div class="log">
  <section class="section"   #loginForm>
    <mat-card class="card" >
      <div fxHide.xs class="img_container">
        <img class="img" loading="lazy" src="../../../../../assets/images/svg/DSC04067-44.jpg" alt="">
      </div>
      <div class="form">
        <mat-progress-bar *ngIf="loging" class="progress" mode="indeterminate"></mat-progress-bar>
        <img class="hilali-logo" src="../../../../../assets/images/svg/Alhilali_Logo without text.png" alt="">
        <h1 class="welcome">Welcome</h1>
      <form #f="ngForm"  class="formC" (ngSubmit)="submit(f)">
        <div> 
          <mat-form-field class="formI"  appearance="outline">
            <mat-label>User name</mat-label>
            <input class="in" autofocus="off" [disabled]="loging" matInput placeholder="Your email" type="text" email  maxlength="255" #emailInput="ngModel" (ngModel)="pModel.username" name="username">
            
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field class="formI"  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [disabled]="loging" placeholder="Your password" type="password"  #passwordInput="ngModel" (ngModel)="pModel.password" name="password">
            
          </mat-form-field>
        </div>
    
      <button mat-flat-button [disabled]="loging" class="add_btn"  color="primary">Login</button>
      <!-- <a class="forget" href="">Forget password?</a> -->
    </form>
    <div class="pwr">
      <p class="power">Powered by <a class="markon" href="https://www.markoncs.com/">MCS</a></p>
    </div>
      </div>
    
      <!-- <div  style=" display: flex; justify-content: center;" class="links">
        <div>
          <p>في حالة نسيان كلمة السر ارجع الى المسؤول التقني
            (0901625113)
          </p>
        </div>
      </div> -->
      
    </mat-card>
   
  
  
  </section>
</div>

<!-- <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <ng-container *ngTemplateOutlet="loginForm">
  </ng-container>
</ng-template>

<ng-template #bigScreen>
  <mat-card>
    <ng-container *ngTemplateOutlet="loginForm">
    </ng-container>
  </mat-card>
</ng-template> -->
