<div class="snackbar">

  <div class="{{messageType == 'Success' ? 'messageTagSuccess' : messageType == 'Error' ? 'messageTagError' : 'messageTag'}}"></div>
  <!-- for error messages -->
  <!-- <div *ngIf= "!isSuccess" class="err icon">
    <i   class="fa fa-times-circle" ></i>
    
  </div> -->

  <!-- for succesful messages -->
  <!-- <div *ngIf= "isSuccess" class="success icon">
    <i class="fa fa-check-circle"></i>
    
  </div> -->
  <div class="message">
<div class="error">{{data.message}}</div>

  </div>
  <div class="dismiss">
    <!-- <i class="fa fa-close" (click)="closeDialog()"></i> -->
    <div class="errorOk" (click)="closeDialog()"><mat-icon>close</mat-icon></div>
  </div>
</div>