.fontY {
  font-size: 35px !important;

  font-weight: lighter;
}

.toolbar {
  background: white;
}

.add_btn {
  background: #20bf6b;
  height: 60px;
  outline: none;
  border: none;
  color: white;
}

.tools {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
